.button-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: flex;
    gap: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}


.button-container.hide {
    transform: translateX(-50%) translateY(150px);
    opacity: 0;
    pointer-events: none;
}


.button-container.show {
    transform: translateX(-50%) translateY(0);
    opacity: 10;
    pointer-events: auto;
}

.button-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 0 20px;
    

}

.button-button:hover {
    display: flex;
    gap: 60px;
    color: rgb(128, 127, 127);
   
}

.logo-image {
    height: 30px;
    width: 30px;
    box-shadow: 0px 3px 9px 0px #4b4949e0;
    border-radius: 50%;
    transition: box-shadow 0.5s ease-in-out, transform 0.3s ease-in-out;
  }

.logo-image:hover {
    box-shadow: 0px 0px 1px 0.1px #4b4949e0 !important;
    border-radius: 50%;
    transition: 0.5s;
    transform: scale(1.0);
  }