
html, body {
    margin: 0;
    padding: 0;
    width: 100%; 
  }
  

.master-container {
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: auto;
}
.carousel-control-prev,
.carousel-control-next {
  display: flex;
  position: absolute; 
  bottom: 0; 
  z-index: 5; 
  width: 3rem; 
  height: 3rem; 
  align-items: center; 
  justify-content: center; 
}

.carousel-control-prev {
  left: 0; 
}

.carousel-control-next {
  right: 0; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
 
  background-color: rgba(3, 3, 3, 0.7); 
  border-radius: 10px; 
  color: white; 
  height: 2px;
  width: 2px;
  padding:  20px; 
}

