.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    padding: 20px 20px; /* Hacer el navbar más alto */
    z-index: 1000;      
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    display: flex;
     /* Acercamos los apartados */
  }
  
  .navbar-logo {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease; 
    cursor: pointer; /* Cursor pointer al pasar el mouse */
  }
  
  .navbar-logo a:hover {
    color: white; /* Se mantiene blanco al pasar el ratón */
  }
  
  .navbar-auth {
    display: flex;
    gap: 20px; /* Separar botones */
  }
  
  .navbar-button {
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black; 

  }
  
  .navbar-button:last-child {
    margin-right: 50px; 
  }
  