.login-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/product-images/BlockchainFondo.jpg');
    background-size: cover;
    background-position: center;
}

form {
    background: rgba(255, 255, 255, 0.9);
    padding: 80px !important;
    border-radius: 10px;
    width: 430px;
    height: 550px;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;


}


.input-email,
.input-password {
    width: 350px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 0 10px;
    margin-bottom: 10px !important;
    box-shadow: inset 0px 4px 8px rgba(10, 0, 1, 0.2);
   
}

.input-email:focus,
.input-password:focus {
    outline: none;
    border: 2px solid #4CAF50;
    box-shadow: 0px 0px 8px rgba(10, 0, 1, 0.1);
}

p {

    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 1px;
    padding: 0;

}

h1 {

    color: black;
    font-weight: bold !important;
    font-size: 35px;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-buttom-login {
    margin-top: 100px !important;
    width: 350px;
    height: 60px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.form-buttom-login:hover {
    background-color: #45a049;
}

.forgot-password {
    text-decoration: none;
    color: grey;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 80px;
    letter-spacing: 1px;


}

.forgot-password:hover {
    color: black;
    text-decoration: none;
}